.my-slidre {
  height: 800px;
}
.slider_main_block .site-slider__icon {
  position: absolute;
  right: 100px;
  top: 50%;
  margin-top: -185px
}

.site-slider__slide {
  opacity: 0;
  z-index: 1;
  transition: 1.5s
}

.site-slider__slide:first-child {
  opacity: 1;
  z-index: 2
}

.site-slider__slide {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}

.site-slider_content .site-slider__slide {
  padding: 0 0 70px
}

.site-slider__slide {
  height: 490px;
  overflow: hidden
}

.slider_main_block {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: initial !important;
}

.slider_main_block>div {
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: 1;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 2s
}

.slider_main_block.start>div:first-child {
  z-index: 1
}

.slider_main_block.start>div:first-child .bgslider {
  z-index: 0
}

.slider_main_block>div .bgslider {
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-position: bottom center;
  transition: 2s
}

.slider_main_block>div.is-active .bgslider {
  -webkit-transform: scale(1.1);
  transition: -webkit-transform 5s, visibility 2s, opacity 2s;
  opacity: 1;
  visibility: visible;
  z-index: 0
}

.slider_main_block>div.is-active {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 2s, visibility 2s
}

.slider_main_block .navi {
  z-index: 2;
  position: absolute;
  bottom: 70px;
  height: 20px;
  text-align: left;
  max-width: 1185px;
  left: 50%;
  margin-left: -608px;
  padding-left: .75rem;
  padding-right: .75rem;
  opacity: 1;
  visibility: visible;
  text-align: center;
  bottom: 0px;
}

.slider_main_block .navi>div {
  width: 60px;
  height: 4px;
  padding: 0;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 4px;
  position: relative;
  display: inline-block;
  z-index: 2;
  margin: 5px;
  overflow: hidden;
  cursor: pointer
}

.slider_main_block .navi>div:after {
  width: 60px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  transform: translateX(-100%)
}

.slider_main_block .navi>div.is-active:after {
  width: 60px;
  background-color: #fff;
  animation: translating11 5s linear
}

.slider_main_block.is-stoped .navi>div.is-active:after {
  width: 60px;
  background-color: #fff;
  -webkit-transform: translateX(0%)
}

.slider_main_block .site-slider__icon {
  z-index: 2
}

.slider_main_block a.site-slider__description-link {
  color: #fff;
  display: inline-block;
  position: relative
}

.slider_main_block a.site-slider__description-link:after {
  display: block;
  content: '';
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: .3
}

.slider_main_block a.site-slider__description-link:hover:after {
  opacity: .8;
  transition: .3s
}

.slider_main_block .container {
  height: 800px;
  position: relative;
}

.slider_main_block .site-slider__content {
  position: absolute;
  width: 100%;
  bottom: 40%;
  box-sizing: border-box;
  height: auto;
  padding-right: 0;
  z-index: 1;
  color: #fff;
  text-align: center;
}

.site-slider__content {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

.slider_main_block .site-slider__title {
  bottom: 350px;
  position: static;
  font-size: 3.125rem;
  line-height: 3.25rem;
  /* max-width: 600px */
}

.site-slider__title>span {
  font-size: 1.875rem;
  font-weight: 400;
  display: block
}

.slider_main_block .site-slider__description {
  position: static;
  top: 310px;
  font-size: 1.875rem;
  /* max-width: 670px; */
  line-height: 2rem;
  margin-top: 12px
}

.slider_main_block .site-slider__icon {
  position: absolute;
  right: 100px;
  top: 50%;
  margin-top: -185px
}

.button-main-slider,
  .button-main-slider:hover {
  font-size: 1.2rem;
  display: table;
  padding: .5rem 2rem;
  border: 1px solid rgba(255,255,255,.9);
  box-shadow: 1px 1px 7px rgba(255,255,255,.7);
  color: rgba(255,255,255,.9);
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
  /* transition: 1s; */
  /* position: absolute; */
  /* bottom: -61px; */
  /* left: 0; */
  margin: auto;
  margin-top: 30px;
}

.page-hero {
  /* min-height: 550px;
  height: 550px; */
  height: 100%;
}

@media (max-width:749px) {

}

@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
  .slider_main_block .navi>div.is-active:after {
    width: 60px;
    background-color: #fff;
    transform: translateX(0%)
  }

  .material-shadow:hover {
    -webkit-transform: none;
    transform: none
  }
}

@keyframes translating11 {
  0% {
    -webkit-transform: translateX(-100%)
  }

  to {
    -webkit-transform: translateX(0%)
  }
}
.slider_main_block>div .bgslider:before {
  content: '';
  z-index: 2;
  position: absolute;
  background-color: rgba(4, 42, 65, 0.73);
  width: 100%;
  height: 100%;
  top: 0px;
}